# OS-specific files
.DS_Store
*.swp
*.swo
*.log
*.env

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React Native
.expo/
dist/
*.jks
*.keystore
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Android
android/.gradle/
android/.idea/
android/app/build/
android/build/
android/local.properties
android/captures/

# iOS
ios/build/
ios/Pods/
ios/*.xcworkspace
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/xcuserdata/

# BUCK
buck-out/
\.buckd/
*.keystore

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Env files
.env.local
.env.development
.env.test
.env.production

# IDE/Editor
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
*.log
*.patch
*.sublime-workspace
*.sublime-project
